@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Raleway';
    src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-display: swap;
}
  
@tailwind utilities;
